/* 
    Andrea Marcela Cáceres Avitia (Inteligencia Artificial 2026-I)
    IA. Proyecto B1: Redes Neuronales
    Clase: Style.css
    Descripción: Hoja de estilos. Paleta de colores rosa pálido.
*/

body {
    background-color: #FFF9FA !important;
}

/* --- Paleta de Colores --- */
:root {
    --rosa-muy-claro: #fce4ec; 
    --rosa-claro: #ffcdd2;    
    --rosa-medio: #f48fb1;    
    --rosa-oscuro: #f06292;   
    --texto-oscuro: #616161;  
    --texto-rosa: #880e4f;    
}

/* --- Barra de Navegación --- */
.bg-primary {
    background-color: var(--rosa-medio) !important;
    border-color: var(--rosa-medio) !important;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff !important;
}
.navbar-dark .navbar-nav .nav-link.active:hover {
    color: var(--rosa-muy-claro) !important;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important; 
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--rosa-muy-claro) !important;
}

.navbar-logo {
    height: 80px;  
    width: auto;
    border-radius: 4px; 
}

.border-primary,
.border-warning,
.border-info,
.card.border-light {
    border-color: var(--rosa-claro) !important;
}

.btn-success,
.btn-warning,
.btn-info {
    background-color: var(--rosa-medio) !important;
    border-color: var(--rosa-medio) !important;
    color: #ffffff !important;
}
.btn-success:hover,
.btn-warning:hover,
.btn-info:hover {
    background-color: var(--rosa-oscuro) !important;
    border-color: var(--rosa-oscuro) !important;
}

.btn-outline-info {
    color: var(--rosa-oscuro) !important;
    border-color: var(--rosa-oscuro) !important;
}
.btn-outline-info:hover {
    color: #ffffff !important;
    background-color: var(--rosa-oscuro) !important;
    border-color: var(--rosa-oscuro) !important;
}

.bg-warning {
    background-color: var(--rosa-medio) !important;
}

#result-label.alert-secondary { 
    background-color: var(--rosa-muy-claro);
    color: var(--texto-oscuro);
    border-color: var(--rosa-claro);
}
#result-label.alert-warning { /* Clase 0 (Amarillo) */
    background-color: var(--rosa-muy-claro);
    color: var(--texto-rosa);
    border-color: var(--rosa-claro);
    font-weight: bold;
}
#result-label.alert-danger { /* Clase 1 (Rojo) */
    background-color: var(--rosa-claro);
    color: var(--texto-rosa);
    border-color: var(--rosa-medio);
    font-weight: bold;
}

/* --- Estilos de Gráficas --- */
#plot-3d-container {
    width: 100%;
    height: 70vh;
    min-height: 500px;
}
#plot-3d {
    width: 100%;
    height: 100%;
}
#loss-chart-container {
    width: 100%;
    height: 250px;
    border: 1px solid var(--rosa-claro);
    border-radius: 5px;
    background-color: #fff;
}
#loss-chart {
    width: 100%;
    height: 100%;
}
#result-label {
    font-size: 1.1rem;
}

